services:
  db:
    image: postgres:16-alpine
    container_name: obsinity-demo-db
    environment:
      POSTGRES_DB: obsinity
      POSTGRES_USER: obsinity
      POSTGRES_PASSWORD: obsinity
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U obsinity -d obsinity"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - obsinity_pg_demo:/var/lib/postgresql/data

  obsinity-reference-server:
    build:
      context: .
      dockerfile: obsinity-reference-service/Dockerfile
    container_name: obsinity-reference-server
    environment:
      SERVER_PORT: 8086
      SERVER_TOMCAT_ACCESSLOG_ENABLED: "true"
      SERVER_TOMCAT_ACCESSLOG_PATTERN: "%h %l %u %t \"%r\" %s %b %D"
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/obsinity
      SPRING_DATASOURCE_USERNAME: obsinity
      SPRING_DATASOURCE_PASSWORD: obsinity
      SPRING_PROFILES_ACTIVE: default
      SPRING_FLYWAY_ENABLED: "true"
      LOGGING_LEVEL_ROOT: INFO
      LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_WEB: DEBUG
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8086:8086"

  obsinity-demo-client:
    build:
      context: .
      dockerfile: obsinity-reference-client-spring/Dockerfile
    container_name: obsinity-demo-client
    environment:
      OBSINITY_INGEST_URL: http://obsinity-reference-server:8086/events/publish
      SPRING_PROFILES_ACTIVE: local
    depends_on:
      - obsinity-reference-server
    ports:
      - "8080:8080"

  grafana:
    image: grafana/grafana:latest
    container_name: obsinity-grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_INSTALL_PLUGINS=yesoreyeram-infinity-datasource
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
      - GF_LOG_LEVEL=debug
    depends_on:
      - obsinity-reference-server
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./obsinity-reference-service/grafana/provisioning:/etc/grafana/provisioning
      - ./obsinity-reference-service/grafana/dashboards:/var/lib/grafana/dashboards

volumes:
  obsinity_pg_demo:
    driver: local
  grafana_data:
    driver: local
