server:
  port: 8086

spring:
  application:
    name: obsinity-reference-service
  main:
    banner-mode: "off"
  datasource:
    url: jdbc:postgresql://obsinity-db:5432/obsinity
    username: obsinity
    password: obsinity
  jackson:
    default-property-inclusion: non_null
    serialization:
      WRITE_NULL_MAP_VALUES: false
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  sql:
    init:
      mode: never

obsinity:
  api:
    hal:
      embedded: data
      links: links
  ingest:
    rmq:
      enabled: false
      queue: obsinity.events
    kafka:
      enabled: false
      bootstrap-servers: localhost:9092
      topic: obsinity.events
      group-id: obsinity-reference-service
      client-id: obsinity-reference-service
  histograms:
    persist:
      workers: 10
      queue-capacity: 20000
    flush:
      max-batch-size: 5000
      rate:
        s5: 5000
  counters:
    persist:
      workers: 10
      queue-capacity: 20000
    flush:
      max-batch-size: 5000
      rate:
        s5: 5000
  stateTransitions:
    persist:
      workers: 4
      queue-capacity: 5000
    flush:
      max-batch-size: 5000
      rate:
        s5: 5000

logging:
  level:
    root: INFO

demo-data:
  profiles:
    enabled: false
    runEvery: 1m
    targetCount: 0
    createPerRun: 1000
    oversampleFactor: 5
    maxSelectionPerState: 10000
    initialState: NEW
    serviceKey: payments
    eventType: user_profile.updated
    transitions:
      NEW:
        select:
          minAge: 10s
          maxAge: 10m
          limitPerRun: 80
        next: [ACTIVE, PENDING_EMAIL, PENDING_KYC]
      PENDING_EMAIL:
        select:
          minAge: 30s
          maxAge: 30m
          limitPerRun: 50
        next: [ACTIVE, ABANDONED]
      PENDING_KYC:
        select:
          minAge: 1m
          maxAge: 2h
          limitPerRun: 40
        next: [ACTIVE, ABANDONED]
      ACTIVE:
        select:
          minAge: 30m
          maxAge: 7d
          limitPerRun: 40
        next: [SUSPENDED, BLOCKED, INACTIVE]
