server:
  port: 8086

spring:
  application:
    name: obsinity-reference-service
  main:
    banner-mode: "off"
  datasource:
    url: jdbc:postgresql://obsinity-db:5432/obsinity
    username: obsinity
    password: obsinity
  jackson:
    default-property-inclusion: non_null
    serialization:
      WRITE_NULL_MAP_VALUES: false
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  sql:
    init:
      mode: never

obsinity:
  api:
    hal:
      embedded: data
      links: links
  histograms:
    persist:
      workers: 10
      queue-capacity: 20000
  counters:
    persist:
      workers: 10
      queue-capacity: 20000
  stateTransitions:
    persist:
      workers: 4
      queue-capacity: 5000
    flush:
      max-batch-size: 5000
      rate:
        s5: 5000
        m1: 60000
        m5: 300000

logging:
  level:
    root: INFO
