server:
  port: 8086

spring:
  application:
    name: obsinity-reference-service
  main:
    banner-mode: "off"
  datasource:
    url: jdbc:postgresql://obsinity-db:5432/obsinity?options=-c%20TimeZone%3DUTC
    username: obsinity
    password: obsinity
  jackson:
    default-property-inclusion: non_null
    serialization:
      WRITE_NULL_MAP_VALUES: false
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  sql:
    init:
      mode: never

obsinity:
  api:
    hal:
      embedded: data
      links: links
  ingest:
    rmq:
      enabled: false
      queue: obsinity.events
    kafka:
      enabled: false
      bootstrap-servers: localhost:9092
      topic: obsinity.events
      group-id: obsinity-reference-service
      client-id: obsinity-reference-service
  histograms:
    persist:
      workers: 10
      queue-capacity: 20000
    flush:
      max-batch-size: 5000
      rate:
        s5: 5000
  counters:
    persist:
      workers: 10
      queue-capacity: 20000
    flush:
      max-batch-size: 5000
      rate:
        s5: 5000
  stateTransitions:
    persist:
      workers: 4
      queue-capacity: 5000
    flush:
      max-batch-size: 5000
      rate:
        s5: 5000
  stateCounts:
    timeseries:
      enabled: true
      snapshotRateMillis: 5000

logging:
  level:
    root: INFO

demo-data:
  profiles:
    enabled: true
    runEvery: 5s
    targetCount: 0
    createPerRun: 1000
    oversampleFactor: 5
    maxSelectionPerState: 10000
    initialState: NEW
    serviceKey: payments
    eventType: user_profile.updated
    transitions:
      NEW:
        select:
          minAge: 10s
          maxAge: 2m
          limitPerRun: 1200
        next: [ACTIVE, PENDING_EMAIL, PENDING_KYC]
        weights:
          ACTIVE: 60
          PENDING_EMAIL: 25
          PENDING_KYC: 15
        runJitterPercent: 20
      PENDING_EMAIL:
        select:
          minAge: 30s
          maxAge: 2m
          limitPerRun: 50
        next: [ACTIVE, ABANDONED]
        weights:
          ACTIVE: 80
          ABANDONED: 20
        runJitterPercent: 20
      PENDING_KYC:
        select:
          minAge: 1m
          maxAge: 2m
          limitPerRun: 40
        next: [ACTIVE, ABANDONED]
        weights:
          ACTIVE: 75
          ABANDONED: 25
        runJitterPercent: 20
      ACTIVE:
        select:
          minAge: 30m
          maxAge: 2m
          limitPerRun: 40
        next: [SUSPENDED, BLOCKED, INACTIVE]
        weights:
          SUSPENDED: 15
          BLOCKED: 10
          INACTIVE: 75
        runJitterPercent: 20
